= form_for resource_info,:remote=>resource_info.new_record? do |f|
  -if resource_info.errors.any?
    #error_explanation
      %ul
        - resource_info.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label '攻略原始链接'
    = f.text_area :url
  .actions
    = f.submit '生成攻略',:class=>'btn'
    -if !f.object.new_record?
      =link_to "返回", mine_resource_infos_path,:class=>'btn'
