%html
  %head
    %title ThreadFilter
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .header
      .menu
        =link_to "首页", mine_resource_infos_path
        =link_to "我的收藏", mine_resource_infos_path
        =link_to "随便看看", resource_infos_path
      -if current_user
        .profile
          .email= current_user.email
          =link_to "退出", destroy_user_session_path,:method=>:delete
    .container
      = yield
